*.pyc
.vscode/
.*.swp

run_vjepa_aws.py
run.py
main_distributed_video.py
main_video.py

app/vjepa/configs/temp_aws
app/main_dev.py
app/main_distributed_dev.py
evals/ava/alphaction/data

run_evals.py
run_evals_v2.py
run_pretrain.py

*.egg-info/
*.ipynb_checkpoints/

traces/
third_party/*

evals/simu_env_planning/local/
evals/simu_env_planning/docker2/
evals/simu_env_planning/docker/vitl/
evals/action_anticipation_frozen/vitl/
evals/video_classification_frozen/bddx_train_classification_new_path.csv
evals/video_classification_frozen/bddx_val_classification_new_path.csv
evals/video_classification_frozen/vitg-384/
logs_vitg/
logs*
evals/action_anticipation_frozen/bddx_train_anticipation.csv
evals/action_anticipation_frozen/bddx_train_anticipation_new_path.csv
evals/action_anticipation_frozen/bddx_val_anticipation.csv
evals/action_anticipation_frozen/bddx_val_anticipation_new_path.csv
evals/action_anticipation_frozen/epickitchens copy.py
app/vjepa_droid/local/
app/vjepa_droid_v2/local/
app/vjepa_droid_v3/local/
app/vjepa_droid_v4/local/
configs/local
evals/video_classification_frozen/vitl-256/
evals/image_classification_frozen/vitg-256/
vjepa2_checkpoints/
logs/

*.mov
*.png 
*.json
*.gif
*.mp4

